@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
@import "toggle";

// ### Primary Colors
$SoftCyan: hsl(174, 77%, 80%);
$StrongCyan: hsl(174, 86%, 45%);
$LightGrayishRed: hsl(14, 92%, 95%);
$LightRed: hsl(15, 100%, 70%);
$PaleBlue: hsl(226, 100%, 87%);

// ### Neutrals

$White: hsl(0, 0%, 100%);
$VeryPaleBlue: hsl(230, 100%, 99%);
$VeryPaleBlue2: hsl(229, 100%, 96%);
$LightGrayishBlue: hsl(224, 65%, 95%);
$LightGrayishBlueTog: hsl(223, 50%, 87%);
$GrayishBlue: hsl(225, 20%, 60%);
$DarkDesaturatedBlue: hsl(227, 35%, 25%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.desktop {
  display: none;
}
.mobile {
  display: initial;
}
body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: $VeryPaleBlue;
    border-bottom-left-radius: 100px;
  }
}

.container {
  position: relative;
  padding: 2rem 1.5rem;
  flex: 1;
}

.intro {
  padding: 2rem 0rem;
  font-size: 1rem;
  background-image: url(../images/pattern-circles.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;

  h1 {
    font-weight: 800;
    font-size: 1.4em;
    text-align: center;
    color: $DarkDesaturatedBlue;
    line-height: 2;
  }
  p {
    text-align: center;
    color: $GrayishBlue;
    font-size: 0.9em;
    line-height: 1.8;
    span {
      display: inline-block;
    }
  }
}

.card {
  background-color: $White;
  border-radius: 6px;
  text-align: center;
  font-size: 1rem;
  color: $GrayishBlue;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.5);
  max-width: 470px;
  margin: 0 auto;

  &_top {
    padding: 2rem 1.5rem 1rem;
    font-size: 1em;
    border-bottom: 1px solid $LightGrayishBlue;
  }
  &_bottom {
    padding: 1rem 1.5rem 2rem;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      margin: 0.5em 0;

      li {
        margin: 0.6em 0;
        font-size: 0.75em;
        &::before {
          content: url(../images/icon-check.svg);
          margin-right: 10px;
        }
      }
    }

    button {
      padding: 0.6em 3.5em;
      color: $PaleBlue;
      cursor: pointer;
      border-radius: 100px;
      background-color: $DarkDesaturatedBlue;
      border: none;
      outline: none;
      margin-top: 1em;
    }
  }

  &_views {
    &_view {
      text-transform: uppercase;
      color: $GrayishBlue;
      font-size: 0.75em;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }
  &_progress {
    margin: 1.5em 0;
  }
  &_toggle {
    margin: 1.6em 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .switch {
      font-size: 1.1em;
      margin: 0 0.7em;
    }

    p {
      font-size: 0.7em;
      position: relative;
      span {
        position: absolute;
        margin-top: -1px;
        margin-left: 3px;
        padding: 2px 6px;
        border-radius: 10px;
        color: $LightRed;
        background-color: $LightGrayishRed;
        .desktop {
          margin-top: -2px;
          margin-left: -1px;
          padding-left: 4px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
.price {
  font-size: 0.8em;
  font-weight: 600;
  color: $GrayishBlue;
  vertical-align: middle;

  &tag {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5em;
    color: $DarkDesaturatedBlue;
    font-weight: 800;
    margin-right: 0.2em;
  }
}

.attribution {
  padding: 0 0.8rem;
  line-height: 2;
  font-size: 0.55rem;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
  svg {
    object-fit: contain;
    width: 7em;
    margin-bottom: -0.6em;

    &:hover {
      fill: $StrongCyan;
    }
  }
}

@media screen and (min-width: 500px) {
  .card {
    font-size: 1.1rem;
  }
  .attribution {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 950px) {
  .desktop {
    display: initial;
  }
  .mobile {
    display: none;
  }
  .card {
    font-size: 1rem;
    width: 60%;
    max-width: 500px;

    &_top {
      padding: 2rem 2.5rem 1rem;
    }
    &_bottom {
      padding: 1rem 2.5rem 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &_views {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
