@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

// ### Primary Colors
$SoftCyan: hsl(174, 77%, 80%);
$StrongCyan: hsl(174, 86%, 45%);
$LightGrayishRed: hsl(14, 92%, 95%);
$LightRed: hsl(15, 100%, 70%);
$PaleBlue: hsl(226, 100%, 87%);

// ### Neutrals

$White: hsl(0, 0%, 100%);
$VeryPaleBlue: hsl(230, 100%, 99%);
$LightGrayishBlue: hsl(224, 65%, 95%);
$LightGrayishBlueTog: hsl(223, 50%, 87%);
$GrayishBlue: hsl(225, 20%, 60%);
$DarkDesaturatedBlue: hsl(227, 35%, 25%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

body {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: $VeryPaleBlue;
    border-bottom-left-radius: 100px;
  }
}

.container {
  position: relative;
}
